/*Header*/
#margin-msg {
    margin-top: 350px;
}

.btn-header{
    background-color: transparent;
    color: var(--white);
    border: 5px solid var(--white);
    border-radius: 2px;
    width: 330PX;
}

.btn-header:hover{
    color: var(--orange);
    border: 5px solid var(--orange);
}

/*Sessão Info*/
.info{
    width: 100%;
    height: auto;
}
.conteudo-doacao, .conteudo-coleta{
    width: 650px;
    height: auto;
    border-radius: 10px;
}

.foto-doacao, .foto-coleta{
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.info img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

/*Sessão Sugestões*/
.sugestao{
    overflow-x: hidden;
}

.card-sugestao{
    width: 350px;
    height: 550px;
    background-color: var(--gray);
}

.card-foto {
    width: 100%;
    height: 220px;
}
.card-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-card{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
}

.btn-card{
    background-color: var(--orange);
}

/*Tablet*/
@media (max-width: 992px) {
    /*Sessão Info*/
    .info{
        height: auto;
    }

    .bloco-doacao, .bloco-coleta{
        width: 90%;
    }

    .conteudo-doacao, .conteudo-coleta{
        width: 100%;
    }

    .foto-doacao, .foto-coleta{
        display: none;
    }
}

/*Mobile*/
@media (max-width: 500px) {
    /*Sessão Info*/
    .foto-doacao, .foto-coleta{
        width: 100%;
        height: 350px;
        display: flex;
    }

    .info img{
        text-align: center;
        width: 330px;
        height: 330px;
    }
    
    /*Sessão sugestão*/
    .card-sugestao{
    width: 330px;
}
}